
/* Estilo para o cabeçalho */
.navmenu {
    background-color: rgb(80, 1, 1);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoFBI {
    max-width: 100px;
}

#idWall {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    
}

.menu-link {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #f0e8e8;
    margin-left: 20px;
}
.menu-link:hover {
    color: #b5b0b0; /* Altera a cor do texto quando passar o mouse sobre o elemento */
}

.disabled-link {
    color: #ccc; /* Define a cor de texto para links desativados */
    pointer-events: none; /* Impede que o link seja clicável */
}

#logoInterpol {
    max-width: 100px;
}

/* Estilo para o formulário de pesquisa */
.container {
    margin-top: 20px;
}

.form-control {
    width: 100%;
}

/* Estilo para o botão de busca */
.custom-button {
    margin: -5px;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(80, 1, 1);
}
.custom-button:hover {
    background-color: rgb(118, 33, 33);
}

/* Estilo para a exibição dos dados */
#wantedData {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
    font-size: 18px;
}
