<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Id Wall Lista Completa</title>
</head>
<body>
    <header class="navmenu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../assets/FBI_SHIELD-logo-2D02BDDAC8-seeklogo.com.png" alt="logo FBI" id="logoFBI" class="img-fluid">
                </div>
                <div class="col">
                    <a id="idWall" href="../index.html" class="menu-link">Id Wall</a>
                </div>

                <div class="col">
                    <a href="../components/listarID.html" class="menu-link">Search by ID</a>
                </div>
                
                <div class="col">
                    <a href="../components/listarTodos.html" class="menu-link">List all</a>
                </div>

                <div class="col">
                    <a href="../components/maisProcurados.html" class="menu-link disabled-link">Most wanted</a>
                </div>
                
                <div class="col">
                    <img src="../assets/INTERPOL_Logo.png" alt="logo interpol" id="logoInterpol" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="mt-5">Complete Wanted List</h1>
        <div class="row mt-3">
            <div class="col">
                <div id="wanteds">
                    <!-- Aqui você pode adicionar os elementos Bootstrap conforme necessário -->
                    <div id="wanted">
                        <!-- Conteúdo aqui -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/teste.js"></script>
</body>
</html>
