<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <title>Id Wall Mais Procurados</title>
</head>
<body>
    <header>
        <img src="../assets/FBI_SHIELD-logo-2D02BDDAC8-seeklogo.com.png" alt="logo FBI" id="logoFBI">
        <a id="idWall" href="index.html">Id Wall</a>
            <a href="../components/maisProcurados.html" class="menu">Mais procurados</a>
            <a href="../components/listarTodos.html" class="menu">Listar todos</a>
            <a href="../components/listarID.html" class="menu">Procurar por ID</a>        
        <img src="../assets/INTERPOL_Logo.png" alt="logo interpol" id="logoInterpol">
    </header>

   

</body>
</html>